<div class="container">
  <h1 class="mt-4">Edit Phone Number for <%= @person.first_name %> <%= @person.last_name %></h1>

  <%= render 'form' %>

  <div class="mt-3">
    <%= link_to 'Back', person_phone_numbers_path(@person), class: 'btn btn-secondary' %>
  </div>
</div>
