<div class="container">
  <h1>New Email for <%= @person.first_name %> <%= @person.last_name %></h1>

  <%= render 'form' %>

  <%= link_to 'Back to Emails', person_emails_path(@person), class: 'btn btn-primary' %>
</div>
